body {
    font-family: "Noto Sans Mono", serif;
    background-color: black;
}

iframe {
    border: none;
}

/****************************
  >>>> NAV BAR
  *****************************/

.navbar {
    background-color: rgb(0, 0, 0);
}

.navbar-brand,
.nav-link {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.navbar-brand:hover,
.nav-link:hover {
    color: rgb(13, 255, 0);
}

.nav-link {
    margin-left: 5px;
    margin-right: 5px;
    border-right: 0px solid green;
}


/****************************
  >>>> HEADER
  *****************************/

.header-img {
    width: 250px;
    height: auto;
    border: 5px solid rgb(255, 237, 138);
    margin-bottom: 10px;
}

.header-img:hover {
    transition: all 0.15s ease-in-out;
    transform: scale(1.1);
}


/****************************
  >>>> BACKGROUND COLOURS
  *****************************/

.jumbotron {
    background-color: rgb(59, 70, 154);
    margin-bottom: 0%;
}

#about {
    background-color: rgb(33, 40, 89);
}

#about img {
    height: 300px;
    padding-left: 100px;
}

#projects {
    background-color: rgb(47, 56, 121);
}

#footer {
    background-color: rgb(31, 36, 79);
    color: white;
}

.card-title {
    text-align: center;
    font-size: 25px;
}


/****************************
  >>>> GLOBAL
  *****************************/

.btn-primary {
    background-color: green;
    color: white;
}

.btn-primary:hover {
    background-color: white;
    color: green;
}

.card-body,
.card {
    background-color: black;
}

.card-image {
    background-color: white;
}


/****************************
  >>>> Footer
  *****************************/

.socials {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 26px;
    text-decoration: none;
}

.btn-secondary {
    background-color: rgb(53, 58, 79);
    color: white;
    font-size: 26px;
}

.btn-secondary:hover {
    background-color: rgb(41, 45, 62);
}

.bottom-footer {
    color: white;
    text-align: center;
    border-top: 2px solid rgb(0, 255, 0);
    padding-top: 20px;
    font-size: 15px;
    padding-bottom: 20px;
}

.exabytes {
    height: 50px;
}